:root {
  --navy: #0a192f;
  --light-navy: #233554;
  --some-navy: #112240;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --white: #fff;
  --black: #000;
  --green: #64ffda;
  --blue: #ccd6f6;
  --state: #8892b0;
  --light-state: #a8b2d1;
  --nav-items: #ccd6f6;
  --resume-hover: #64ffda1a;
  --error: #cc0000;
  --transition: 0.3s ease;
  --fast-transition: 0.2s ease;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
}
